Include /etc/ssh/sshd_config.d/*.conf

Port 4242
PasswordAuthentication no
PermitRootLogin no
PermitEmptyPasswords no
Protocol 2
ClientAliveInterval 180
MaxAuthTries 3
MaxSessions 3
LoginGraceTime 2m
StrictModes yes

KbdInteractiveAuthentication no
UsePAM yes
X11Forwarding yes
PrintMotd no

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# override default of no subsystems
Subsystem       sftp    /usr/lib/openssh/sftp-server
